* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5c08f;
    color: black;
    font-size: 2em;
    padding: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    height: 150px;
    width: 150px;
    font-size: 4em;
    font-weight: bold;
    cursor: pointer;
}

.message {
    margin: 30px;
    font-size: 2em;
    font-weight: bold;
}

.reset {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.reset:hover {
    background-color: #555;
}